<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="list-bg">

<form class="x-so" action="/goods/outlist" method="get" id="myform">
    </br></br></br>
    <select id="condition" name="condition" onblur="changeVal()" style="width: 120px;height: 37px">
        <option value="编号">商品编号</option>
        <option value="商品类别">商品类别</option>
        <option value="入库时间">入库时间</option>
        <option value="供货商">供货商</option>

    </select>
    <input id="convalue1" name="convalue1" type="hidden" th:value="${convalue}">
    <input id="condition1" name="condition1" type="hidden" th:value="${condition}">
    <input class="layui-input" id="convalue" name="convalue" type="text" placeholder="请输入查询条件">

    <button type="button" class="layui-btn layui-btn-normal" onclick="search()">查询</button>
    <button class="layui-btn layui-btn-warm" type="button" onclick="insert()">添加</button>
    <a class="layui-btn layui-btn-warm" type="button" onclick="downloadFile()">导出Excel</a>
</form>

<table class="layui-table">
    <thead>
    <th>编号</th>
    <th>商品编号</th>
    <th>商品名称</th>
    <th>商品类别</th>
    <th>单价</th>
    <th>数量</th>
    <th>总价</th>
    <th>出库时间</th>
    <th>出库人</th>
    <th>供货商</th>
    <th>操作</th>
    <th>操作</th>

    </thead>
    <tbody>
    <tr th:each="i:${info.list}">
        <td th:text="${i.ogId}"></td>
        <td th:text="${i.ogNum}"></td>
        <td th:text="${i.ogName}"></td>
        <td th:text="${i.ogClass}"></td>
        <td th:text="${i.ogPrice}"></td>
        <td th:text="${i.ogCount}"></td>
        <td th:text="${i.ogTotal}"></td>
        <td th:text="${i.ogTime}"></td>
        <td th:text="${i.ogPerson}"></td>
        <td th:text="${i.ogSupply}"></td>

        <td>
            <button class="layui-btn" type="button" onclick="update(this)">修改</button>
        </td>
        <td>
            <button class="layui-btn layui-btn-danger" type="button" onclick="del(this)">删除</button>
        </td>
    </tr>
    </tbody>

</table>
<div id="pageInfo">
    <a class="layui-btn layui-btn-normal" th:href="@{/goods/outlist(page=${info.pre})}">上一页</a>
    <a class="layui-btn layui-btn-normal" th:href="@{/goods/outlist(page=${info.next})}">下一页</a>
    一共有<span th:text="${info.total}"></span>条数据
    一共有<span th:text="${info.totalPage}"></span>个页面
    当前第<span th:text="${info.cur}"></span>页

</div>
</body>
</html>
<script>
    //文档加载事件
    $(function () { //改编查询框的值
        var convalue = $("#convalue1").val();
        var condition = $("#condition1").val();
        if (condition === "入库时间") {
            $("#convalue").attr("type", "date");
        }else{
            $("#convalue").attr("type", "text");
        }
        $("#condition option[value='" + condition + "']").attr("selected", 'true');
    })

    function changeVal() {
        var condition = $("#condition").val();
        console.log(condition);
        if (condition === "入库时间") {
            $("#convalue").attr("type", "date");
        }else{
            $("#convalue").attr("type", "text");
        }
    }

    //导出excel
    function downloadFile() {

        window.location.href = "/goods/ogExcel";
    }

    //查询验证
    function search() {
        //获取用户输入的查询条件
        const v = $("#convalue").val();
        //获取用户选择的查询
        const con = $("#condition").val();
        const form = document.getElementById("myform");
        //创建一个正则表达式对象
        const re = /^[0-9]*$/;
        //判断用户选择的查询条件
        if (con === "编号") {
            //验证用户的查询条件是否是数字
            if (re.test(v)) {
                form.submit();
            } else {
                layer.alert("请输入数字");
            }
        } else {
            form.submit();
        }
    }

    //添加用户
    function insert() {
        x_admin_show("添加出库商品", "/goods/outInsertPage", 1000, 600)
    }

    //打开修改页面的方法
    function update(obj) {
        //获取选中行userId的值
        var id = $(obj).parent().parent().find("td").eq(0).text();
        //打开修改弹窗
        x_admin_show("修改出库商品", "/goods/outUpdatePage?ogId=" + id, 1000, 600);

    }

    //删除
    function del(obj) {
        var id = $(obj).parent().parent().find("td").eq(0).text();
        layer.confirm("你确定要删除吗？", {icon: 3, title: "警告"}, function (index) {//function()中为用户点击按钮后进行的操作
            $.ajax({
                url: "/goods/outDeleteAjax",
                type: "get",
                data: {"ogId": id},
                dataTypeL: "json",
                success: function (data) {
                    layer.alert(data.info);
                    if (data.info == "删除成功") {
                        $(obj).parent().parent().remove();
                    }
                }
            })
        })
    }
</script>